<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="https://tftus.beehivehronline.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="sample test">
    <classes>
      <class name="tests.LoginPageTest"/>
    </classes>
  </test>
</suite>